.DS_Store
Finance Manager/XML Files/*.xml
Finance Manager/Scanned Text Files/*.txt
Finance Manager/Receipts/*.jpg
*.docx
*.log
*.aux
*.out
*.gz
*.doc
Duplicate Picture Identifier/.ipynb_checkpoints/Duplicate Picture Identifier-checkpoint.ipynb
Duplicate Picture Identifier/history.csv
Statistical Formatting/Processed/*.jpg
Statistical Formatting/Processed/*.png
Statistical Formatting/Screenshots/*.jpg
Statistical Formatting/Screenshots/*.png
Statistical Formatting/data.csv
.ipynb_checkpoints
*/.ipynb_checkpoints/*
University of Idaho/MATH 404/Lectures/*
University of Idaho/MATH 404/mnist_X_train.npy
University of Idaho/MATH 404/mnist_X_val.npy
University of Idaho/MATH 404/mnist_y_train.npy
University of Idaho/MATH 404/mnist_y_val.npy
Duplicate Picture Identifier/Outputs/P2200.png
Duplicate Picture Identifier/Inputs/1771 - June 10th 2016.JPG
Duplicate Picture Identifier/Inputs/1770 - June 9th 2016.JPG
Duplicate Picture Identifier/Inputs/1769 - June 8th 2016.JPG
University of Idaho/ECE 462/Book 2.pdf
Duplicate Picture Identifier/.ipynb_checkpoints/File Tracker-checkpoint.ipynb
Duplicate Picture Identifier/File Tracker.ipynb
Duplicate Picture Identifier/.ipynb_checkpoints/File Tracker-checkpoint.ipynb
