.DS_Store
Finance Manager/XML Files/*.xml
Finance Manager/Scanned Text Files/*.txt
Finance Manager/Receipts/*.jpg
*.docx
*.log
*.aux
*.out
*.gz
*.doc
Duplicate Picture Identifier/.ipynb_checkpoints/Duplicate Picture Identifier-checkpoint.ipynb
Duplicate Picture Identifier/history.csv
Statistical Formatting/Processed/*.jpg
Statistical Formatting/Processed/*.png
Statistical Formatting/Screenshots/*.jpg
Statistical Formatting/Screenshots/*.png
Statistical Formatting/data.csv
